@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap");

body {
  font-family: "Slabo 13px", serif;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 6px;
  background-color: #f1debe;
}
body ::-webkit-scrollbar-track {
  background-color: black;
}
body::-webkit-scrollbar-thumb {
  background-color: #614134;
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #ad4029;
}
